@import "main.css";

#site-information-a, #product-offerings-a, #contact-info-a {
    position: relative;
    top: -100px;
}

.tagline {
    font-family: var(--special);
    font-size: 1.8rem;
}

.main-container {
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.site-greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

.logo-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-text {
    height: 20vh;
    width: 40vw;
    object-fit: none;
}

.logo-holder #site-logo {
    height: 40vh;
    margin: 0 0;
    padding: 0 0;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

.common-button {
    margin: 0 2em;
    border-style: solid;
    border-color: var(--primary);
    border-radius: 30px;
    height: 70px;
    width: 300px;
    color: #FFFFFF;
    background-color: var(--secondary);
    font-family: var(--headings2);    
    font-size: 1.2rem;
    font-weight: bold;
    transition: all .15s ease-in-out;
}

.common-button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px var(--highlights);
    transform: scale(1.1);    
}

.special-button {
    border-color: var(--primary);
    background-color: var(--tertiary);
    transition: all .15s ease-in-out;
}

.special-button:hover {
    cursor: help;
    box-shadow: 0px 0px 8px var(--highlights);
    transform: scale(1.1);  
}

.line-break {
    border-width: 4px;
    color: var(--secondary);
    border-style: solid none none;
    margin: 3em 0;
}

.site-information, .product-offerings, .contact-info {
    margin-bottom: 2.5rem;
}

.main-container .body-text:not(.showcase), .main-container .header-text {
    text-align: justify;
    text-justify: auto;
}

.header-text {
    text-align: center;
    font-size: 44pt;
    color: var(--secondary);
    text-shadow: 2px 2px 4px #C0C0C0;
    font-family: var(--headings);
}

.body-text {
    text-align: center;
    font-family: var(--body-text);
    color: var(--dark);
    font-size: 16pt;
}

/* Styling for product image gallery */
.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery-container #product-sample {
  width: 350px;
  height: 350px;
  min-height: 100%;
  display: block;
  max-width: 50%;
  object-fit: fill;
  background: #FFFFFF;
  border: solid 3.5px var(--highlights);
}

/* --------------- END ---------------*/